/* Fonts */
@font-face {
    font-family: 'CommitMono';
    src: url('../../fonts/CommitMono-700-Regular.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../../fonts/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    font-family: 'CommitMono', monospace;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

/* Text Overlay */
.text-overlay {
    font-family: 'Geist', sans-serif;
    font-weight: 700;
    font-size: clamp(3rem, 12vw, 15rem);
    max-width: 90vw;
    color: #000000;
    text-align: center;
    line-height: 0.9;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
}

/* Header */
.header {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

/* Boxes */
.title-box,
.nav-box,
.readout-box {
    padding: 0.625rem;
    text-transform: uppercase;
}

.title-box {
    background: #000000;
}

.nav-box {
    background: #ffffff;
    border: 1px solid #000000;
    display: flex;
    max-width: 460px;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.readout-box {
    background: #ffffff;
    border: 1px solid #000000;
    display: flex;
    max-width: 460px;
}

/* Text */
.title,
.home-link,
.nav-link,
.readout {
    font-family: 'CommitMono', monospace;
    font-size: 12px;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 0;
    text-transform: inherit;
}

.title {
    color: #ffffff;
}

.home-link {
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.home-link:hover {
    opacity: 0.5;
}

.nav-link {
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 0.5;
}

.readout {
    color: #000000;
    
}

/* Mobile */
@media (max-width: 600px) {
    .header {
        left: 1.5rem;
        right: 1.5rem;
        width: calc(100vw - 3rem);
    }
    
    .nav-box,
    .readout-box,
    .title-box {
        max-width: 100%;
    }
    
    .title,
    .home-link,
    .nav-link,
    .readout {
        font-size: 0.75rem;
    }
    
    .text-overlay {
        font-size: clamp(2rem, 15vw, 6rem);
        line-height: 0.95
    }}